extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a.btn.btn-primary.btn-lg(href='#') Learn More &raquo
	.container
		.row
			.col-md-4
				h2 About Us
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get in Touch
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				a.btn.btn-default(href='#') View Details										